<h3 class="ui header">{{t "forms.i-i-s-services-management-app-customer-request-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-services-management-app-customer-request-e.requestDate-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.requestDate
      class=(if (v-get validationModel "requestDate" "isInvalid") "error")
      data-test-i-i-s-services-management-app-customer-request-e-requestDate=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "requestDate" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.requestText
      class=(if (v-get validationModel "requestText" "isInvalid") "error")
      label=(t "forms.i-i-s-services-management-app-customer-request-e.requestText-caption")
      data-test-i-i-s-services-management-app-customer-request-e-requestText=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "requestText" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-services-management-app-customer-request-e.customer-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.customer
      displayAttributeName="name"
      autocomplete=true
      relationName="customer"
      projection="CustomerL"
      title=(t "forms.i-i-s-services-management-app-customer-request-e.customer-caption")
      readonly=readonly
      componentName="customerLookup"
      class=(if (v-get validationModel "customer" "isInvalid") "error")
      data-test-i-i-s-services-management-app-customer-request-e-customer=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "customer" "message")}}
  </div>
</form>
