<h3 class="ui header">{{t "forms.i-i-s-services-management-app-feedback-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.ranking
      class=(if (v-get validationModel "ranking" "isInvalid") "error")
      label=(t "forms.i-i-s-services-management-app-feedback-e.ranking-caption")
      data-test-i-i-s-services-management-app-feedback-e-ranking=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ranking" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.feedbackText
      class=(if (v-get validationModel "feedbackText" "isInvalid") "error")
      label=(t "forms.i-i-s-services-management-app-feedback-e.feedbackText-caption")
      data-test-i-i-s-services-management-app-feedback-e-feedbackText=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "feedbackText" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-services-management-app-feedback-e.customer-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.customer
      displayAttributeName="name"
      autocomplete=true
      relationName="customer"
      projection="CustomerL"
      title=(t "forms.i-i-s-services-management-app-feedback-e.customer-caption")
      readonly=readonly
      componentName="customerLookup"
      class=(if (v-get validationModel "customer" "isInvalid") "error")
      data-test-i-i-s-services-management-app-feedback-e-customer=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "customer" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-services-management-app-feedback-e.event-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.event
      displayAttributeName="startTime"
      autocomplete=true
      relationName="event"
      projection="EventL"
      title=(t "forms.i-i-s-services-management-app-feedback-e.event-caption")
      readonly=readonly
      componentName="eventLookup"
      class=(if (v-get validationModel "event" "isInvalid") "error")
      data-test-i-i-s-services-management-app-feedback-e-event=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "event" "message")}}
  </div>
</form>
